<div class ="container">
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to 'Home', pages_home_path %></li>
    <li role="presentation" class="active"><%= link_to 'About', pages_about_path %></li>
  </ul>
</div>

<div class="container">
  <h1>Welcome to Alpha Blog.</h1>
  <p>A sample blog application made with Ruby on Rails.</p>
</div>

